<app-header></app-header>
<main>
    <section id="error1">
        <img src="assets/404.svg" alt="Erro 404">
        <h2>Ops! Esta página não faz parte das suas metas.</h2>
        <p>Parece que você se perdeu no caminho para alcançar seus objetivos.</p>
    </section>
    <section id="error2">
        <img src="assets/imagem_error4041.jpg" alt="Erro 404">
    </section>
    <section id="error3">
        <button routerLink="">
            Voltar para Página Inicial
        </button>
        <button routerLink="" class="white-btn">
            ou Criar Nova Lista de Metas
        </button>
    </section>
</main>
<app-footer></app-footer>