@import "~/src/scss/base/variables";
@import "~/src/scss/assets/rem-calc";

:host {
    #first {
        padding: rem(40px) rem(20px);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(50px);
        flex-wrap: wrap;

        #left {
            max-width: 36%;
            display: flex;
            flex-direction: column;
            gap: rem(20px);


            h2 {
                font-weight: bold;
                font-size: rem(48px);
            }

            p {
                font-size: rem(20px);
            }

            button {
                font-size: rem(18px);
                align-self: flex-start;
                padding: rem(15px) rem(30px);
            }
        }

        img {
            width: rem(600px);
            height: rem(400px);
        }
    }

    #funcionalidades-principais {
        padding: rem(40px) rem(20px);
        background-color: $cinza_claro;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            font-weight: bold;
            font-size: rem(36px);
        }

        #cards {
            margin-top: rem(30px);

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: rem(15px);

                li {
                    min-width: 35%;
                    max-width: 35%;

                    .card {
                        background-color: $branco;
                        padding: rem(40px);
                        display: flex;
                        flex-direction: column;
                        gap: rem(20px);
                        border-radius: rem(12px);
                        min-height: 65%;

                        img {
                            align-self: flex-start;
                        }

                        h3 {
                            font-weight: bold;
                            font-size: rem(24px);
                        }

                        p {
                            color: $font_secundary_color;
                        }
                    }
                }
            }
        }
    }

    #sobre-ferramenta {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding: rem(40px) rem(20px);

        .img {
            img {
                width: rem(600px);
                height: rem(600px);
            }
        }

        #informations {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: rem(30px);

            h2 {
                font-weight: bold;
                font-size: rem(30px);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: rem(15px);

                li {
                    display: flex;
                    align-items: center;
                    gap: rem(10px);

                    p {
                        font-size: rem(18px);
                        color: $font_secundary_color;
                    }
                }
            }
        }
    }

    #start {
        background: linear-gradient(45deg, #3B82F6, #2563EB);
        ;
        color: $branco;
        padding: rem(40px) rem(20px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: rem(40px);

        h2 {
            font-size: rem(36px);
            font-weight: bold;
        }

        p {
            font-size: rem(20px);
        }

        
    }
}

@media (max-width: 768px) {
    :host {
        #first {
            flex-direction: column;
            padding: rem(40px) rem(32px);


            #left {
                max-width: 100%;
            }

            section {
                img {
                    width: rem(350px);
                    height: rem(250px);
                }
            }
        }

        #funcionalidades-principais {
            #cards {
                ul {
                    flex-wrap: wrap;

                    li {
                        min-width: 100%;
                    }
                }
            }
        }

        #sobre-ferramenta {
            flex-direction: column;

            .img {
                margin-bottom: rem(30px);

                img {
                    width: rem(350px);
                    height: rem(350px);
                }
            }

            #informations {
                width: 100%;

            }
        }
    }
}