<app-header></app-header>

<section id="first">
    <section id="left" @fadeInLeftEnter>
        <h2>
            Transforme seus sonhos em realidade
        </h2>
        <p>
            Organize, acompanhe e realize suas metas pessoais e profissionais
        </p>
        <button>
            Crie sua lista de metas agora
        </button>
    </section>

    <section>
        <img src="/assets/imagem_landing-page1.jpg" alt="Pessoas Felizes Usando o MetasJá" @fadeInRightEnter>
    </section>
</section>

<section id="funcionalidades-principais">
    <h2>Funcionalidades principais</h2>
    <section id="cards">
        <ul>
            <li *ngFor="let item of funcionalidades; let i = index"  [@fadeIn]="{ value: '', params: { duration: 1000, delay: 750 * i } }">
                <div class="card" >
                    <img [src]="item.img">
                    <h3>{{item.name}}</h3>
                    <p>{{item.text}}</p>
                </div>
            </li>
        </ul>
    </section>
</section>

<section id="sobre-ferramenta">
    <section class="img" @fadeInRightEnter>
        <img src="assets/imagem_landing-page2.jpg" alt="">
    </section>
    <section id="informations">
        <h2>
            Interface intuitiva e fácil de usar
        </h2>
        <ul>
            <li *ngFor="let item of about_tool" @fadeInRightEnter>
                <img src="assets/check.svg" alt="->">
                <p>{{item}}</p>
            </li>
        </ul>
    </section>
</section>

<section id="start">
    <h2>Comece a realizar seus sonhos hoje</h2>
    <p>Junte-se a milhares de pessoas realizando suas metas</p>
    <button class="white-btn">Criar conta gratuita</button>
</section>